.basket {
    display: flex;
    flex-direction: column;
}


.basket-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #bebebe;
    border-radius: 10px;
    margin: 10px 50px;

    &__image{
        width: 30px;
        height: 30px;
    }
}

#total-price {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #bb3b00;
    margin: 50px;
}

#basket-clear {
    width: 20%;
    margin-left: 70%;
    border-radius: 10px;
    border: 1px solid #bebebe;
}